<nav class="navbar navbar-dark bg-dark navbar-expand">
    <ul class="navbar-nav mr-auto">
        <li class="navbar-brand">Pixogram</li>
    </ul>
    <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" routerLink="upload-media" routerLinkActive="active">Upload Media</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="media" routerLinkActive="active">My Media</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="following" routerLinkActive="active">Following</a></li>
    </ul>
    <ul class="navbar-nav ml-auto">
            <li class="nav-item nav-right"><a class="nav-link" routerLink="account" routerLinkActive="active">Account</a></li>
    </ul>
</nav>
