<div class="sidebar-wrapper">
    <h2>Upload Media</h2>
    <nav class="navbar navbar-dark bg-dark">
      <ul class="navbar-nav flex-column">
          <li class="nav-item"><a class="nav-link" routerLink="single-upload" routerLinkActive="active">Single Media</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="multiple-upload" routerLinkActive="active">Multiple Media</a></li>
      </ul>
    </nav>
    </div>
    <div class="content-wrapper">
    <router-outlet></router-outlet>
    </div>
