@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    background-color:#A9A9A9 !important;
    border-color: #343a40;
    border-style: solid;
    min-height:100%;
}
html {
    height:100%;
}